minShrines:40
maxShrines:100
minConnections:3
maxConnections:5
minMaxPopulation:5 
maxMaxPopulation:40
minMiningRateParts:Shrine.PARTS_MULTIPLIER * 1.5
maxMiningRateParts:Shrine.PARTS_MULTIPLIER * 5
miningDegradationRateParts:Shrine.PARTS_MULTIPLIER / 1000
minWorkerRateParts:Shrine.PARTS_MULTIPLIER / 100
maxWorkerRateParts:Shrine.PARTS_MULTIPLIER / 5
homeMaxPopulation:100
homeMiningRateParts:Shrine.PARTS_MULTIPLIER * 2
homeWorkerRateParts:Shrine.PARTS_MULTIPLIER / 10
homeNumAlters:10
homeNumGold:30
homeNumWorkers:50
minHomeDistance:3
maxHomeDistance:6
seed:1
